################################################################################
# FILES to ignore
################################################################################
# Files to ignore
*.sw[mnop]
.DS_Store
*.log
npm-debug.log*
yarn.lock


################################################################################
# DIRECTORIES to ignore
################################################################################
**/[Dd]ist/*
**/[Bb]uild/*
**/[Tt]mp/*
**/node_modules/*
coverage/

################################################################################
# exception rules
################################################################################
!**/*.gitkeep
