* eol=lf
* text=auto

*.data binary
*.md text
*.yml text
*.yaml text
*.gif  binary
*.jpeg binary
*.jpg binary
*.png binary
*.so binary
*.wav binary
*.mp3 binary
*.mtl binary
*.obj binary
.editorconfig text
.gitattributes text
.gitignore text
