################################################################################
# FILES to ignore
################################################################################
# Files to ignore
*.sw[mnop]
.DS_Store
*.log
npm-debug.log*
package-lock.json
yarn.lock


################################################################################
# DIRECTORIES to ignore
################################################################################
**/[Bb]uild/*
**/[Tt]mp/*
**/node_modules/*

################################################################################
# exception rules
################################################################################
!**/*.gitkeep
